@font-face {
  font-family: 'Raleway';
  src: url("./font/Raleway.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: 'Raleway';
  font-size: 13px;
  background: url(../img/bg.png) no-repeat #1D1D1D center;
}

.element {
  width: 250px;
  height: 300px;
  position: relative;
  color: #999;
}

.element__front {
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 1em;
  padding: .5em;
  background: #1D1D1D;
  -webkit-box-shadow: -1px -1px 3px #282828, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
          box-shadow: -1px -1px 3px #282828, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
}

.element__front .profile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1em;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-box-shadow: inset -5px -5px 4px rgba(86, 86, 86, 0.25), inset 2px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset -5px -5px 4px rgba(86, 86, 86, 0.25), inset 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.element__front .profile-box-img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin-right: 1em;
  -webkit-box-shadow: -1px -1px 3px #282828, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
          box-shadow: -1px -1px 3px #282828, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.element__front .profile-box-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.element__front .profile-box__detail-name {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: .5em;
  font-family: 'Raleway', sans-serif;
}

.element__front .profile-box__detail-position {
  color: #444;
  padding-top: 1em;
  font-size: .9em;
}

.element__front-content {
  text-align: left;
  padding: 1em;
}

.element:hover .element__front {
  opacity: 0;
}

.element:hover .profile-box {
  -webkit-transform: translateY(-100px) rotate(25deg);
          transform: translateY(-100px) rotate(25deg);
}

.element:hover .element__back {
  -webkit-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
  opacity: 1;
}

.element:hover .element__back::before {
  top: 30px;
  bottom: 30px;
}

.element:hover .element__back::after {
  right: 30px;
  left: 30px;
}

.element:hover .element__back__content {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.element__back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  opacity: 0;
  z-index: -2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-100px) rotate(25deg);
          transform: translateY(-100px) rotate(25deg);
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background: #1D1D1D;
  -webkit-box-shadow: -1px -1px 3px #282828, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
          box-shadow: -1px -1px 3px #282828, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
  border-radius: 1em;
  padding: 1em;
}

.element__back::before {
  position: absolute;
  content: '';
  border-right: 2px solid white;
  border-left: 2px solid white;
  top: 200px;
  bottom: 200px;
  right: 10px;
  left: 10px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.element__back::after {
  position: absolute;
  content: '';
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  top: 10px;
  bottom: 10px;
  right: 150px;
  left: 150px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.element__back__content {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  font-size: .9em;
}

.element__back__content-title {
  font-weight: bold;
}

.element__back__content-description {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */